@font-face{
    font-family: Milkshake;
    src: url(Milkshake.ttf);
}

body{
    background-image: linear-gradient(navy, purple);
}

.butt{
    display: block;
    align-items: center;
    width: 50%;
    background-color: red;
    padding: 14px 28px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    border-radius: 12px;
    border-color: black;
}

.gButton{
    display: block;
    width: 25%;
    background-color: red;
    padding-left: 28px 56px;
    font-size: 50px;
    cursor: pointer;
    text-align: center;
    border-radius: 12px;
    border-color: black;
    margin: auto;
}

.g2Button{
    display: block;
    width: 15%;
    background-color: red;
    padding-left: 10px 16px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    border-radius: 12px;
    border-color: black;
    margin: auto;
}

legend{
    color: yellow;
    font-size: 25px;
}

main{
    display: block;
    justify-content: center;
}

h2{
    text-align: center;
    font-size: 6em;
    font-family: Milkshake;
    font-style: normal;
    font-variant: normal;
    color: white;
}

p{
    text-align: center;
    font-size: 1.75em;
    font-family: serif, "Times New Roman", Times;
    color: white;
}

nav{
    text-align: center;
    width: 500px;
    font-weight: bold;
    padding-left: 175px;
    margin: auto;
}

nav ul{
    list-style-type: none;
}

#wrapper{
    min-width: 900px;
    max-width: 1280px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


footer{
    padding-bottom: 10px;
    border-top: 2px;
    border-top-color: #221811;
    font-size: 1em;
    text-align: center;
    font-style: italic;
}
